* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: sans-serif;
}

.contact-us {
  background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
  color: #ddd;
}


form {
  padding: 40px;
}

.inputField {
  padding: 20px;
}

.inputField label {
  display: block;
}

.inputField input {
  width: 320px;
  padding: 10px;
}

.invalid {
  border: 1px solid red;
}

.hidden {
  text-color: red;
  color: red;
  display: none;
}

.error {
  text-color: red;
  color: red;
}

.thanks {
  padding: 40px;
  text-align: center;
}

button {
  padding: 8px 25px;
  font-size: 20px;
  background: none;
  border: 1px solid #2ad1f8;
  border-radius: 6px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(to right, #2ad1f8, #8a58b9);
  color: white;
  border: 1px solid #fff;
}